In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data
df = pd.read_csv('data/student_engagement_dataset.csv')
df.head()

,Timestamp,Name,Give some percentage(%) about your engagement level?\nExample : 80%
0,22/12/2022 16:46:16,W.A.Dulmi Niwanka,20%
1,22/12/2022 17:41:30,Herath H.R.P.C.,10%
2,22/12/2022 18:28:47,Gunarathna P.R.B.M,20%
3,22/12/2022 23:16:19,Dinusha,90%
4,22/12/2022 23:38:22,shanika,30%

In [6]:
# Rename the column
df.rename(columns={'Timestamp':'time','Name': 'name','Give some percentage(%) about your engagement level?\nExample : 80%': 'engagement_level'}, inplace=True)
df.head()

                  time                name engagement_level
0  22/12/2022 16:46:16   W.A.Dulmi Niwanka              20%
1  22/12/2022 17:41:30     Herath H.R.P.C.              10%
2  22/12/2022 18:28:47  Gunarathna P.R.B.M              20%
3  22/12/2022 23:16:19             Dinusha              90%
4  22/12/2022 23:38:22             shanika              30%

In [8]:
df.dtypes

time                object
name                object
engagement_level    object
dtype: object

In [9]:
# remove percentage sign of engagement_level feature and convert to float
df['engagement_level'] = df['engagement_level'].str.replace('%', '').astype(float)
df.head()

                  time                name  engagement_level
0  22/12/2022 16:46:16   W.A.Dulmi Niwanka              20.0
1  22/12/2022 17:41:30     Herath H.R.P.C.              10.0
2  22/12/2022 18:28:47  Gunarathna P.R.B.M              20.0
3  22/12/2022 23:16:19             Dinusha              90.0
4  22/12/2022 23:38:22             shanika              30.0

In [20]:
# find record by name
student_names = ['Bandara K.D.H.S.', 'Sasika Sankalana', 'Sandali Wijerathna']

# create a new dataframe
df_new = pd.DataFrame(columns=['time', 'name', 'engagement_level'])

# iterate through the list of names
for name in student_names:
    # find record by name contains in in column name
    df_by_name = df[df['name'].str.contains(name)]
    # append to new dataframe
    df_new = pd.concat([df_new, df_by_name], ignore_index=True)

df_new.head()

# save the new dataframe to csv file
df_new.to_csv('data/student_engagement_dataset_labeled.csv', index=False)

In [21]:
df_labeled = pd.read_csv('data/student_engagement_dataset_labeled.csv')
df_labeled.head()

                  time                name  engagement_level
0  25/12/2022 15:42:13    Bandara K.D.H.S.               5.0
1  14/03/2023 15:08:48    Sasika Sankalana              75.0
2  14/03/2023 17:19:44  Sandali Wijerathna               5.0

In [24]:
# open video files by name
import cv2
import os
from face_emotion import  *

Loaded model from disk

In [ ]:
# identify emotion by student name
for name in student_names:
    # find record by name contains in in column name
    df_by_name = df_labeled[df_labeled['name'].str.contains(name)]
    # iterate through the dataframe
    for index, row in df_by_name.iterrows():
        # get the video file name
        video_file_name = row['name'] + '.mp4'
        # get the video file path
        emotion_percentage_list = get_emotion_percentage(video_file_name)
        # open the video file
        cap = cv2.VideoCapture(video_file_path)
        # set the frame position
        cap.set(cv2.CAP_PROP_POS_MSEC, time)
        # read the frame
        success, image = cap.read()
        # save the frame
        if success:
            cv2.imwrite('data/frames/' + str(index) + '_' + str(engagement_level) + '.jpg', image)
        # release the video
        cap.release()
        # close all windows
        cv2.destroyAllWindows()